<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.penBugsBlogApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.example.penBugsBlogApp.Activities.DetailedPostView">

        </activity>
        <activity
            android:name="com.example.penBugsBlogApp.BottomBarNewFeeds"
            android:label="@string/title_activity_bottom_bar_new_feeds"/>
        <activity android:name="com.example.penBugsBlogApp.UploadPost" />
        <activity android:name="com.example.penBugsBlogApp.RegistrationNewUser" />
        <activity android:name="com.example.penBugsBlogApp.PostActivity" />
        <activity android:name="com.example.penBugsBlogApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="penbugsblog.page.link"
                    android:scheme="https"/>
                <data
                    android:host="penbugsblog.page.link"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider546376482709486"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <provider
            android:authorities="com.example.penBugsBlogApp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>
    </application>

</manifest>